name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Upload HTML as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-files
          path: .
